<div class="nuts-page">
    <nut-action-sheet></nut-action-sheet>
    <!--<div class="nuts-page-header">
        <a ng-if="vm.hasBackBtn()" class="left" ng-click="vm.goBack()">
            <i class="nuts-icon icon-back"></i>
        </a>
        <a ng-if="!vm.hasBackBtn()" class="left"><i class="nuts-icon"></i></a>
        <h1 class="title">{{vm.title}}</h1>
        <a class="right" ng-if="vm.icon" ng-click="vm.extCallback && vm.extCallback()">
            <i class="nuts-icon" ng-class="vm.styleConfig"></i>
        </a>
    </div>-->
    <div ng-transclude></div>
</div>