_(value)
    value/64rem

.nuts-msg{
    text-align:center;
    .nuts-msg-content{
        position:absolute;
        bottom:_(80)
        width:auto;
        height:_(50)
        width:100%
        background:rgba(0,0,0,.6)
        color:white;
        font-size:_(25);
        text-align:center;
        line-height:_(50);
    }
}