<div class="my-meeting-room-index">
    <nut-page title="我的房间" icon="icon-setting" ext-callback="actions.handleSettingBtnClick()" hide-title="true">
        <div class="index-btn">
            <a  ng-click="actions.enterMyMeetingRoom()">进入我的房间</a>
            <a  ng-click="handleCreateInvitation()" ui-sref="invitationCreate">发起会客邀请</a>
        </div>
        <div class="title">
            <div class="info">
                <div>{{meetingRoomName()}}</div>
                <div>房间号：{{meetingRoomNum()}}</div>
            </div>
            <div class="config-btn" ng-click="actions.handleSettingBtnClick()">
                <i class="nuts-icon icon-setting"></i>
            </div>
        </div>
        <div class="remain-time">
            <div class="info">
                <div>剩余时长</div>
                <div>
                    <span ng-class="{'remain-time-high':remainTime()>100,'remain-time-normal':remainTime()<100&&remainTime()>50,'remain-time-low':remainTime()<50,}"
                        ng-bind="remainTime()"></span>
                    <span>分钟&nbsp;</span>
                </div>
            </div>
            <div class="config-btn btn-with-icon-rem2p2" ui-sref="rechargeIndex">
                <span style='color:#93620a'>充值&nbsp;</span>
                <i class="nuts-icon icon-right"></i>
            </div>
        </div>
        <div class="my-invitation">
            <div class="my-invitation-head">
                <i></i>
                <span>我发起的房间邀请</span>
            </div>
            <div class="float-fixer">
                <div ng-class="{'bg-white':!invitationRecords.head.record}" style="min-height: 100%">
                    <div class="my-invitation-Nrecord" ng-if="!invitationRecords.head.record">
                        <i></i>
                        <p>暂无记录</p>
                    </div>
                    <ul class="my-invitation-Yrecord">
                        <li class="today" ng-if="!!invitationRecords.head.record">
                            <div class="fl my-invitation-Yrecord-time">
                                <div ng-if="!invitationRecords.head.alreadyStart()">距会客开始还有</div>
                                <div ng-if="!invitationRecords.head.alreadyStart()">
                                    <span class="clr-red" ng-if="invitationRecords.head.timeleft.hour()!=0">{{invitationRecords.head.timeleft.hour()}}小时</span>
                                    <span class="clr-red">{{invitationRecords.head.timeleft.second()}}</span>分钟
                                </div>
                                <div ng-if="invitationRecords.head.alreadyStart()" ng-click="actions.enterMyMeetingRoom()" style="padding-top:.258rem">会议已经开始</div>
                            </div>
                            <div class="fl my-invitation-Yrecord-divide">
                                <div class="line"></div>
                                <span class="dot"></span>
                            </div>
                            <a ui-sref="invitationEdit({invitationId:invitationRecords.head.record.invitationId})">
                                <div class="fl my-invitation-record-inst">
                                    <div class="my-invitation-record-inst-item">
                                        <p class="inst-title">
                                            {{!!invitationRecords.head.theme?invitationRecords.head.theme:'无主题'}}</p>
                                        <p class="inst-tips">{{invitationRecords.head.tip}} {{invitationRecords.head.startTime}}
                                        </p>
                                    </div>
                                    <div class="skip-right-icon"></div>
                                </div>
                            </a>
                        </li>
                        <li class="after-today" ng-repeat="record in invitationRecords.list">
                            <div class="fl my-invitation-Yrecord-time">
                                <div>{{record.date}}</div>
                                <div>{{record.startTime}}-{{record.endTime}}</div>
                            </div>
                            <div class="fl my-invitation-Yrecord-divide">
                                <div class="line"></div>
                                <span class="dot"></span>
                            </div>
                            <a>
                                <div ng-click="actions.handleInvitationRecordClick(record.record)" class="fl my-invitation-record-inst">
                                    <div class="my-invitation-record-inst-item">
                                        <p class="inst-title">{{!!record.theme?record.theme:'无主题'}}</p>
                                    </div>
                                    <div class="skip-right-icon"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="loadmore" ng-if="invitationRecords.hasNext()" infinite-scroll="actions.handleLoadMore()">
                <!--正在加载中，请稍候-->
            </div>
        </div>
    </nut-page>
    <nut-alert show=" vm.alertRemainTimeLow" modal-id="index-remain-time-low">
        <div class="cm-alert-failure">
            <div class="failure-tips">您没有足够的剩余时长进入房间。</div>
            <div class="btn">
                <div class="cancel-btn fl" ng-click="vm.closeAlert()">取消</div>
                <div class="success-btn fl" ui-sref="rechargeIndex">去充值</div>
                <div class="line"></div>
            </div>
        </div>
    </nut-alert>
</div>