_(value)
    value/64rem

.nuts-alert{
    display: box;                  
    display: -webkit-box;        
    display: -moz-box;           
    display: -ms-flexbox;        
    display: -webkit-flex;       
    display flex

    flex-direction column

    -webkit-box-pack: center;  
    -webkit-justify-content: center;  
    -moz-justify-content: center;  
    -ms-justify-content: center;  
    -o-justify-content: center;  
    justify-content: center;  

    -webkit-box-align: center;  
    -webkit-align-items: center;  
    -moz-align-items: center;  
    -ms-align-items: center;  
    -o-align-items: center;  


    align-items center
    width _(640)
    height 100%
    position fixed
    z-index 10000
    top 0
    left 0
    background-color rgba(0,0,0,.8)
    .nuts-alert-content{
        background-color #fff
        border-radius: _(6)
    }
}