<div class="meetingroom-setup-guest-pass">
    <nut-page title="访客密码" icon="icon-save" ext-callback='save()'>
    	<div class="meetingroom-setup-item">
    		<p>设置后访客需要输入密码方可入会</p>
	    	<div class="meetingroom-setup-item-box">
	    		<input ng-model="myMeetingRoom.guestPassword" type="text" placeholder="请输入6位数字密码">
    			<i class="cross" ng-click="myMeetingRoom.guestPassword = ''" onclick="document.querySelector('input').focus()"></i>
	    	</div>    		
    	</div>
		<div class="settings btn-save" ng-click="save()">
			保存
		</div>
    </nut-page>
	<nut-msg show="showMsg" modal-id="setup-failure">
        <span>{{errorMsg}}</span>
    </nut-msg>
</div>