<div class="meetingroom-setup-host-pass">
    <nut-page title="房主密码" icon="icon-save" ext-callback='save()'>
    	<div class="meetingroom-setup-item">
    		<p>凭密码可以管理房间，请注意保密</p>
	    	<div class="meetingroom-setup-item-box">
	    		<input ng-model="myMeetingRoom.hostPassword" type="text" placeholder="请输入6位数字密码">
    			<i class="cross"  ng-click="myMeetingRoom.hostPassword=''" onclick="document.querySelector('input').focus()"></i>
	    	</div>    		
    	</div>		
		<div class="settings btn-save" ng-click="save()">
			保存
		</div>
    </nut-page>
	<nut-msg show="showMsg" modal-id="setup-failure">
        <span>{{errorMsg}}</span>
    </nut-msg>
</div>