<div class="meetingroom-setup-name">
    <nut-page title="房间名称" icon="icon-save" ext-callback='save()'>
    	<div class="meetingroom-setup-item">
	    	<div class="meetingroom-setup-item-box">
	    		<input ng-model="myMeetingRoom.name" type="text" placeholder="请输入房间名称">
    			<i ng-click="myMeetingRoom.name=''" onclick="document.querySelector('input').focus()" class="cross"></i>
	    	</div>    		
    	</div>    		
		<div class="settings btn-save" ng-click="save()">
			保存
		</div>  
    </nut-page>
</div>