_(value)
    value/64rem

.nuts-action-sheet {
    position fixed
    z-index 1000
    left 0
    top 0
    width 100%
    height 100%
    background:rgba(0,0,0,.5)
    .btns,.btns-cancel{
        position absolute        
        
    }
    .btns{
        bottom _(91)
    }
    .btns-cancel{
        bottom 0
    }
    .btn {
        text-align center
        line-height _(76)
        border-radius _(6)
        background-color #fff
        width _(614)
        height _(76)
        margin _(15) _(13)

    }
    .btn.btn-alert{
        color rgb(252 71 74)
    }
    .btn.btn-default{
        color rgb(35,209,227)
    }
}